html body {
	height: 100%;
	background-color: #F5F7FA;
	direction: ltr;
}
.ddc_fix_navTop{
	padding-top: 4rem;
}
.dcc__h2_info{
	font-size: 20px;
	color: #ffff;
	text-transform: uppercase;	
}

#viewDiv {
	padding: 0;
	margin: 0;
	max-height: 100%;
	min-height: 100%;
	max-width: 100%;
	min-width: 100%;
	/*position: absolute;*/
}

.bg-gradient-x-primary {
	background-image: linear-gradient(to right, #00A5A8 0%, #4DCBCD 100%);
	background-repeat: repeat-x;
}
.ddc__menu{
	position: relative;
	top: 0;
	left: 0;
	width: 60px;
	background:#ffffff;
	height: calc(100vh - 58px);
}
.ddc__fix_top{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	height: 4rem;
}

.ddc__menu_fixed{
	position: fixed;
	height: 100%;
	top: 4rem;
	height: calc(100% - 4rem);
}
.ddc__menu_shadow{
	box-shadow: 1px 0px 20px rgb(0 0 0 / 10%);
}



.ddc__app_content{
	overflow: hidden;
}
.ddc__content{
	margin-left: 60px;
	padding: 0;
	position: relative;
	transition: 300ms ease all;
	backface-visibility: hidden;
	min-height: calc(100% - 32px);
}

.ddc__content .ddc__content_wrapper{
	padding: 1.8rem;
}
.ddc__content .ddc__content_wrapper .ddc_content_contaier{
	/*border: 1px solid red;*/
	box-shadow: 0 10px 40px 0 rgb(62 57 107 / 7%), 0 2px 9px 0 rgb(62 57 107 / 6%);
}
.ddc__content .ddc__content_wrapper .ddc_content_contaier .ddc_wrapper_head{
	background-color: #FFFFFF;
	padding: 10px;
	font-weight: 400;
}
.ddc__content .ddc__content_wrapper .ddc_content_contaier .ddc_wrapper_body{
	max-width: 100%;
	min-width: 100%;
	height: calc(100vh - 160px);
	/* height: calc(100vh - 500px); */
	position: relative;	
}
.ddc__menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ddc__menu li{
	position: relative;
	white-space: nowrap;
}
.ddc__menu ul li:hover{
	background-color: whitesmoke;
}
.ddc__menu ul li a{
	justify-content: center;
	display: flex;	
	padding: 20px 0;
	text-decoration: none;
}
.dcc_footer{
	margin-left: 60px;
	background: #FFFFFF;
	border-top: 1px solid #E4E7ED;
	padding: 0.4rem;
}

/*.ddc__menu_fix{
	position: fixed;
	height: 100%;
	top: 4rem;
	height: calc(100% - 4rem);
}
.ddc__main_menu_fix{
	z-index: 1000;
	position: absolute;
	display: table-cell;
}
.ddc__menu_light{
	color: #404E67;
	background: #FFFFFF;
	border-right: 1px solid #E4E7ED;
}
.ddc__menu_shadow{
	box-shadow: 1px 0px 20px rgb(0 0 0 / 10%);
}
.ddc__menu ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ddc__menu .ddc__menu_content .navigation{
	overflow: visible;
	background: #FFFFFF;
}
.ddc__menu .ddc__menu_content .navigation-main{
	overflow-x: hidden;
}
.ddc__menu .ddc__menu_content{
	height: 100%;
	position: relative;	
	}*/



